<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-flat-button color="accent" [routerLink]="['']">{{title}}</button>
    <div style="margin: 5%;">
      <button mat-raised-button color="primary" [routerLink]="['chart']">Charts</button>
      <button mat-raised-button color="primary" [routerLink]="['contact']">Contact</button>
    </div>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">http</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>
